@page "/projects"
<h1>Projects</h1>
<p style="font-size: large;">Here's some academic projects that I worked on in school:</p>
<br>
<h3>PokéDex</h3>
<a href="https://github.com/cst8209-w24/pokedex-Topmen4099" class="btn btn-primary" target="_blank">PokéDex</a>
<br>
<br>
<h3>Random Domino Generator</h3>
<a href="https://github.com/cst8209-w24/dominoes-Topmen4099" class="btn btn-primary" target="_blank">Random Domino Generator</a>
<br>
<br>
<h3>Landing Page</h3>
<a href="https://github.com/cst8117-w24/landing-page-Topmen4099" class="btn btn-primary" target="_blank">Landing Page</a>
<br>
<br>
<h3>Mad Libs</h3>
<a href="https://github.com/cst8209-w24/mad-libs-Topmen4099" class="btn btn-primary" target="_blank">Mad Libs</a>
<br>
<br>
<h3>Registrar</h3>
<a href="https://github.com/cst8253-s24/Registrar-Topmen4099" class="btn btn-primary" target="_blank">Registrar</a>
<br>
<br>
<h3>Travel Agency</h3>
<a href="https://github.com/cst8253-s24/TravelAgency-Topmen4099" class="btn btn-primary" target="_blank">Travel Agency</a>
<br>
<br>
<h3>Social Media Group Project (with Andre Cunha and Richer Bueno)</h3>
<a href="https://github.com/andrebtcunha/PHP_Project" class="btn btn-primary" target="_blank">Social Media</a>
<br>
<br>

@code {

}
